#!/usr/bin/expect\nset timeout 1800\nspawn rsync -avP {{ software_upgrade["images_server_user"] }}@{{ software_upgrade["images_server_ip"] }}:{{ software_upgrade["images_path"] }}/{{ sub_folder }}/{{ software_upgrade["version"] }}/* /var/xr/disk1/{{ software_upgrade["version"] }}  --log-file=/var/xr/disk1/{{ software_upgrade["version"] }}/statusp\nexpect {\n"Are you sure you want to continue connecting (yes/no)" {\nsend "yes\r"\nexp_continue\n}\n"password:" {\nsend "12cellcom\\r"\n}\n}\nexpect eof\nexit
